<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingmao.dynamic.peach.dao.PeachMapper">
  <resultMap id="BaseResultMap" type="com.kingmao.dynamic.peach.entity.Peach">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, color, weight, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from peach
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from peach
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kingmao.dynamic.peach.entity.Peach">
    insert into peach (id, color, weight, 
      name)
    values (#{id,jdbcType=INTEGER}, #{color,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingmao.dynamic.peach.entity.Peach">
    insert into peach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingmao.dynamic.peach.entity.Peach">
    update peach
    <set>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingmao.dynamic.peach.entity.Peach">
    update peach
    set color = #{color,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from peach
  </select>
</mapper>